In [11]:
import os
os.path.isfile(r"C:\Users\KIIT\Desktop\Machine Learning\All Data files(excel sheets)\Customer_DF.csv")
os.path.isfile(r"C:\Users\KIIT\Desktop\Machine Learning\All Data files(excel sheets)\cust_transaction_details.csv")

True

In [12]:
os.path.isfile(r"C:\Users\KIIT\Desktop\Machine Learning\All Data files(excel sheets)\Customer_DF.csv")

True

In [13]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [14]:
d = pd.read_csv(r"C:\Users\KIIT\Desktop\Machine Learning\All Data files(excel sheets)\Customer_DF.csv")
Data = pd.DataFrame(d)

In [15]:
Data1 = Data.drop_duplicates(subset = ['customerEmail'], keep = 'first')
Data1.shape

(161, 10)

In [16]:
p = pd.read_csv(r"C:\Users\KIIT\Desktop\Machine Learning\All Data files(excel sheets)\cust_transaction_details.csv")
T= pd.DataFrame(p)
T.shape

(623, 11)

In [17]:
T1 = T.drop_duplicates(subset = ['customerEmail'], keep = 'first')
T1.shape

(136, 11)

In [24]:
H = pd.merge(Data1, T1, on = 'customerEmail', how = 'left')

In [26]:
H.isnull().sum()

Unnamed: 0_x                         0
customerEmail                        0
customerPhone                        0
customerDevice                       0
customerIPAddress                    0
customerBillingAddress               0
No_Transactions                      0
No_Orders                            0
No_Payments                          0
Fraud                                0
Unnamed: 0_y                        25
transactionId                       25
orderId                             25
paymentMethodId                     25
paymentMethodRegistrationFailure    25
paymentMethodType                   25
paymentMethodProvider               25
transactionAmount                   25
transactionFailed                   25
y                                   25
dtype: int64

In [29]:
H1 = H[H['y'].notna()]
H1.shape

(136, 20)

In [32]:
#Too many Columns.
H2 = H1.drop(['customerEmail', 'customerPhone', 'customerDevice', 'customerIPAddress', 'customerBillingAddress', 'transactionId', 'orderId', 'paymentMethodId'], axis = 1)
H2.head()

,Unnamed: 0_x,No_Transactions,No_Orders,No_Payments,Fraud,Unnamed: 0_y,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,transactionAmount,transactionFailed,y
0,0,2,2,1,False,0.0,1.0,card,JCB 16 digit,18.0,0.0,pending
1,1,3,3,7,True,2.0,0.0,bitcoin,American Express,45.0,0.0,fulfilled
2,2,5,3,2,False,5.0,0.0,card,JCB 16 digit,33.0,0.0,failed
3,3,3,3,1,False,10.0,0.0,card,Voyager,34.0,0.0,fulfilled
4,4,7,7,6,True,13.0,0.0,card,VISA 13 digit,71.0,0.0,fulfilled

In [34]:
#Unnamed: 0_y
H3 =H2.drop(['Unnamed: 0_y', 'Unnamed: 0_x'], axis =1)

In [37]:
H3['paymentMethodType'].unique()

array(['card', 'bitcoin', 'apple pay', 'paypal'], dtype=object)

In [38]:
H3['paymentMethodProvider'].unique()

array(['JCB 16 digit', 'American Express', 'Voyager', 'VISA 13 digit',
       'VISA 16 digit', 'Discover', 'Mastercard',
       'Diners Club / Carte Blanche', 'Maestro', 'JCB 15 digit'],
      dtype=object)

In [46]:
one_hot_sex = pd.get_dummies(H3['paymentMethodType'])
one_hot_sex1 = pd.get_dummies(H3['y'])

In [48]:
H5 = H3.drop(columns = ['y'], axis = 1)

# Join the encoded df
H6 = H5.join(one_hot_sex).join(one_hot_sex1)

In [49]:
H6.head()

,No_Transactions,No_Orders,No_Payments,Fraud,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,transactionAmount,transactionFailed,apple pay,bitcoin,card,paypal,failed,fulfilled,pending
0,2,2,1,False,1.0,card,JCB 16 digit,18.0,0.0,0,0,1,0,0,0,1
1,3,3,7,True,0.0,bitcoin,American Express,45.0,0.0,0,1,0,0,0,1,0
2,5,3,2,False,0.0,card,JCB 16 digit,33.0,0.0,0,0,1,0,1,0,0
3,3,3,1,False,0.0,card,Voyager,34.0,0.0,0,0,1,0,0,1,0
4,7,7,6,True,0.0,card,VISA 13 digit,71.0,0.0,0,0,1,0,0,1,0

In [50]:
H6 = H6.drop(['paymentMethodProvider'], axis = 1)

In [59]:
H6 = H6.drop(['paymentMethodType'], axis = 1)

In [66]:
#H7['Fraud'].replace({"True":1, "False":0})

In [67]:
H7.shape

(136, 14)

In [75]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
H8 = H7.drop('Fraud', axis = 1)
X_standard = pd.DataFrame(sc.fit_transform(H8))

In [76]:
from sklearn.decomposition import PCA 
  
pca = PCA(n_components = 2) 
X_PCA = pca.fit_transform(H8) 
  
explained_variance = pca.explained_variance_ratio_

In [71]:
#LogisticRegression(C=0.001, class_weight=None, dual=False,fit_intercept=True, intercept_scaling=1,l1_ratio=None, max_iter=100,
#multi_class='warn', n_jobs=None, penalty='l2', random_state=1, solver='warn', tol=0.0001, verbose=0, warm_start=False)]],

In [77]:
H8.head()

,No_Transactions,No_Orders,No_Payments,paymentMethodRegistrationFailure,transactionAmount,transactionFailed,apple pay,bitcoin,card,paypal,failed,fulfilled,pending
0,2,2,1,1.0,18.0,0.0,0,0,1,0,0,0,1
1,3,3,7,0.0,45.0,0.0,0,1,0,0,0,1,0
2,5,3,2,0.0,33.0,0.0,0,0,1,0,1,0,0
3,3,3,1,0.0,34.0,0.0,0,0,1,0,0,1,0
4,7,7,6,0.0,71.0,0.0,0,0,1,0,0,1,0

In [78]:
from sklearn.linear_model import LogisticRegression
Y = H7.Fraud
X_train, X_test, y_train, y_test = train_test_split(X_standard, Y, test_size=0.2, random_state=1)
from sklearn import metrics
LG = LogisticRegression()
LG.fit(X_train, y_train)

LogisticRegression()

In [79]:
print("test accuracy :", LG.score(X_test,y_test))

test accuracy : 0.7142857142857143

In [80]:
#Used PCA
X_train1, X_test1, y_train1, y_test1 = train_test_split(X_PCA, Y, test_size=0.2, random_state=1)
from sklearn import metrics
LG = LogisticRegression()
LG.fit(X_train1, y_train1)

LogisticRegression()

In [81]:
#Pretty much useless
print("test accuracy :", LG.score(X_test1,y_test1))

test accuracy : 0.7142857142857143